.scribe {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.sidebar {
  width: 260px;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  z-index: 1;
  padding: 10px;
  background-color: #202123;
  color: white;
  /* border: 1px solid white; */
}

.chatbox {
  flex:1;
  background-color: #fff;
  color: black;
  margin-left: 260px; /* Same as the width of the sidenav */
  padding: 0px 8px;
}
